@import "src/variables";

.button {
    background-color: $red;
    color: $white;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    outline: none;

    &-transparent {
        background-color: $grey;
        border: 2px solid $red;
    }
}

.size-large {
    padding: 5px 20px;
}

.size-small {
    padding: 1px 10px;
}

