.movie {
    flex: 2;

    &__image {
    height: 300px;
    width: 400px;
    object-fit: contain;
    flex: 1;
    }

    &__title {
        color: white;
    }

    &__description {
        color: white;
    }
}